<owo-ui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/wisp-forest/owo-lib/1.21.4/owo-ui.xsd">
    <components>
        <flow-layout direction="horizontal">
            <children>
                <flow-layout direction="vertical" id="changeMenuButton">
                    <children>
                        <texture texture="crosshaircustomizer:textures/gui/change_menu.png" u="0" v="0"
                                 texture-height="128" texture-width="128" region-width="128"
                                 region-height="128">

                            <sizing>
                                <vertical method="fixed">16</vertical>
                                <horizontal method="fixed">16</horizontal>
                            </sizing>
                        </texture>
                    </children>
                    
                    <tooltip-text>Change Menu(Current: Main)</tooltip-text>

                    <surface>
                        <flat>#D0101010</flat>
                    </surface>

                    <sizing>
                        <vertical method="fixed">20</vertical>
                        <horizontal method="fixed">20</horizontal>
                    </sizing>

                    <margins>
                        <all>2</all>
                    </margins>

                    <vertical-alignment>center</vertical-alignment>
                    <horizontal-alignment>center</horizontal-alignment>
                </flow-layout>
                
                <flow-layout direction="vertical" id="mainContainer">
                    <children>
                        <flow-layout direction="horizontal" id="topControlContainer">
                            <children/>

                            <sizing>
                                <horizontal method="fixed">400</horizontal>
                                <vertical method="fixed">24</vertical>
                            </sizing>

                            <horizontal-alignment>left</horizontal-alignment>
                            <vertical-alignment>center</vertical-alignment>
                        </flow-layout>

                        <scroll direction="vertical" id="scrollContainer">
                            <flow-layout direction="vertical" id="gridContainer">
                                <children/>
                            </flow-layout>

                            <scrollbar-thiccness>3</scrollbar-thiccness>
                            <scrollbar-color>white</scrollbar-color>

                            <sizing>
                                <horizontal method="fixed">400</horizontal>
                                <vertical method="fixed">250</vertical>
                            </sizing>
                        </scroll>

                        <flow-layout direction="horizontal" id="controlContainer">
                            <children/>

                            <sizing>
                                <horizontal method="fixed">400</horizontal>
                                <vertical method="fixed">24</vertical>
                            </sizing>

                            <horizontal-alignment>left</horizontal-alignment>
                            <vertical-alignment>center</vertical-alignment>
                        </flow-layout>
                    </children>

                    <horizontal-alignment>center</horizontal-alignment>
                    <vertical-alignment>center</vertical-alignment>
                </flow-layout>
            </children>

            <vertical-alignment>center</vertical-alignment>
            <horizontal-alignment>center</horizontal-alignment>
        </flow-layout>
    </components>
</owo-ui>